{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BRICLO</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "home/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "home/css/1-col-portfolio.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<style type="text/css">
    
a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:active {text-decoration: none; color: black;}
a:hover {text-decoration: bold;}
a{
    color:rgba(0,0,0,1);
}
</style>
</head>

<body>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQS
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div id ="row1" class="row">
            <a id="question1" style=""><div class="col-md-12 btn btn-default">
                <div class="question-col-1">1. &nbsp브리클로는 어떤 서비스 인가요?</div>

            </div></a>  
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row2" class="row">
            <a id="question2" style=""><div class="col-md-12 btn btn-default">
                
                 <div class="question-col-1">2. &nbsp브리클로의 서비스를 구독하면 어떨 일들이 일어나나요? </div>


            </div></a>
            
        </div>
        <!-- /.row -->
        <hr>
        <div id ="row3" class="row">
            <a id="question3" style=""><div class="col-md-12 btn btn-default ">
                 <div class="question-col-1">3. &nbsp한 달 이용권 구매로 몇 개의 패키지까지 받아 볼 수 있나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row4" class="row">
            <a id="question4" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">4. &nbsp패키지로 받은 의류를 얼마 동안 가지고 있을 수 있나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row5" class="row">
            <a id="question5" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">5. &nbsp어떤 사이즈를 이용할 수 있나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row6" class="row">
            <a id="question6" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">6. &nbsp패키지의 구성품에는 어떤 것이 있나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row7" class="row">
            <a id="question7" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">7. &nbsp반납 시 세탁이나 다림질 등을 해야 하나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row8" class="row">
            <a id="question8" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">8. &nbsp빌린 패션 아이템이 손상되면 어떻게 해야 하나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row9" class="row">
            <a id="question9" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">9. &nbsp빌린 패션 아이템을 잃어버리면 어떻게 하나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row10" class="row">
            <a id="question10" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">10. &nbsp월 이용권 구매 비용은 어떻게 결제하나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row11" class="row">
            <a id="question11" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">11. &nbsp배송비는 어떻게 되나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row12" class="row">
            <a id="question12" style=""><div class="col-md-12 btn btn-default">
                <div class="question-col-1"> 12. &nbsp배송 받을 수 있는 지역은?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row13" class="row">
            <a id="question13" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">13. &nbsp이용권 구매 이후 패키지를 받기까지 어느정도의 시간이 소요되나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>
        <div id ="row14" class="row">
            <a id="question14" style=""><div class="col-md-12 btn btn-default">
                 <div class="question-col-1">14. &nbsp이용권 구매를 취소하려면 어떻게 해야 하나요?</div>
            </div></a>
            
        </div>
        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static "home/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "home/js/bootstrap.min.js" %}"></script>
<script type="text/javascript">
 $(document).ready(function(){
  $('#question1').click(function(){
   $.ajax({
    url : '/home/faq/1',
    data : {pk:'1',},
    success:function(data){
        if($('#detail1').length){

        $('#detail1').remove()
        }
        else {
        $('#row1').append(data)
    }
    }
   });
  });

  $('#question2').click(function(){
   $.ajax({
    url : '/home/faq/2',
    data : {pk:'1',},
    success:function(data){
        if($('#detail2').length){

        $('#detail2').remove()
        }
        else {
        $('#row2').append(data)
    }
    }
   });
  });
  $('#question3').click(function(){
   $.ajax({
    url : '/home/faq/3',
    data : {pk:'1',},
    success:function(data){
        if($('#detail3').length){

        $('#detail3').remove()
        }
        else {
        $('#row3').append(data)
    }
    }
   });
  });

  $('#question4').click(function(){
   $.ajax({
    url : '/home/faq/4',
    data : {pk:'1',},
    success:function(data){
        if($('#detail4').length){

        $('#detail4').remove()
        }
        else {
        $('#row4').append(data)
    }
    }
   });
  });

  $('#question5').click(function(){
   $.ajax({
    url : '/home/faq/5',
    data : {pk:'1',},
    success:function(data){
        if($('#detail5').length){

        $('#detail5').remove()
        }
        else {
        $('#row5').append(data)
    }
    }
   });
  });

  $('#question6').click(function(){
   $.ajax({
    url : '/home/faq/6',
    data : {pk:'1',},
    success:function(data){
        if($('#detail6').length){

        $('#detail6').remove()
        }
        else {
        $('#row6').append(data)
    }
    }
   });
  });

  $('#question7').click(function(){
   $.ajax({
    url : '/home/faq/7',
    data : {pk:'1',},
    success:function(data){
        if($('#detail7').length){

        $('#detail7').remove()
        }
        else {
        $('#row7').append(data)
    }
    }
   });
  });

  $('#question8').click(function(){
   $.ajax({
    url : '/home/faq/8',
    data : {pk:'1',},
    success:function(data){
        if($('#detail8').length){

        $('#detail8').remove()
        }
        else {
        $('#row8').append(data)
    }
    }
   });
  });

  $('#question9').click(function(){
   $.ajax({
    url : '/home/faq/9',
    data : {pk:'1',},
    success:function(data){
        if($('#detail9').length){

        $('#detail9').remove()
        }
        else {
        $('#row9').append(data)
    }
    }
   });
  });

  $('#question10').click(function(){
   $.ajax({
    url : '/home/faq/10',
    data : {pk:'1',},
    success:function(data){
        if($('#detail10').length){

        $('#detail10').remove()
        }
        else {
        $('#row10').append(data)
    }
    }
   });
  });

  $('#question11').click(function(){
   $.ajax({
    url : '/home/faq/11',
    data : {pk:'1',},
    success:function(data){
        if($('#detail11').length){

        $('#detail11').remove()
        }
        else {
        $('#row11').append(data)
    }
    }
   });
  });

  $('#question12').click(function(){
   $.ajax({
    url : '/home/faq/12',
    data : {pk:'1',},
    success:function(data){
        if($('#detail12').length){

        $('#detail12').remove()
        }
        else {
        $('#row12').append(data)
    }
    }
   });
  });

  $('#question13').click(function(){
   $.ajax({
    url : '/home/faq/13',
    data : {pk:'1',},
    success:function(data){
        if($('#detail13').length){

        $('#detail13').remove()
        }
        else {
        $('#row13').append(data)
    }
    }
   });
  });

  $('#question14').click(function(){
   $.ajax({
    url : '/home/faq/14',
    data : {pk:'1',},
    success:function(data){
        if($('#detail14').length){

        $('#detail14').remove()
        }
        else {
        $('#row14').append(data)
    }
    }
   });
  });



 });
</script>
</body>

</html>
