{% extends 'home/base.html' %}
{% load staticfiles %}
{% block style %}

<link href="{% static "home/css/als.css" %}" rel="stylesheet" type="text/css">

{% endblock %}
{% block content %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-73" style="background-image: url({% static "home/css/assets/images/" %}); ">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 1; background-color: #EFEFEF;"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row"><div class=" col-sm-6">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">B R I C L O</h1>
                        <p class="mbr-hero__subtext" id="welcome"><strong>매일 같은 옷을 입고 학교에 가십니까? 옷 몇 벌을 가지고 돌려입는 일상에 지치셨습니까?</strong><br>
                            <strong>브리클로는 바로 당신을 위한 서비스 입니다.</strong> <br></p>
                    </div>
                    <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg animated fadeInUp delay btn-warning" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">신청하기</a> <a class="mbr-buttons__btn btn btn-lg btn-default animated fadeInUp delay" href="https://mobirise.com/bootstrap-template/">이용방법</a></div>
                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#header1-76"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="header1-76" style="background-image: url({% static "home/css/assets/images/" %});">
    <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
        <div class="mbr-overlay" style="opacity: 1; background-color: #0B0B0B;"></div>
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                <div class="row" id="whatis"><div class=" col-sm-12">
                    <div class="mbr-hero animated fadeInUp">
                        <h1 class="mbr-hero__text">WHAT IS BRICLO?</h1><br>
                        <p class="mbr-hero__subtext">
                            <strong>브리클로는 20대 남성들을 위한 패션 렌탈 서비스입니다.</strong><br><br>
                            BRICLO는 항상 새로움을 추구하고, 유행에 뒤쳐지지 않기를 희망하는 20대 남성들을 위한 패션 렌탈 서비스 입니다.<br>
                            당신은 최소한의 노력만으로 트렌디한 남성이 될 수 있습니다.<br>
                            BRICLO는 당신에게 전담 스타일리스트를 배정하고, 당신에게 적합한 패션 아이템을 선별하여 월 단위로 의류를 렌탈합니다.<br><br>
                            <br>
                        </p>
                    </div>
                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#features1-77"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section" id="how_it_works" style="opacity:1;background-color:#7E7E7E;">
    <div class="mbr" id="howtitle" style="text-align:center">
        <h1>HOW IT WORKS?</h1>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--boxy mbr-parallax-background" id="msg-box1" style="background-image: url({% static "home/css/assets/images/" %});">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #E5E4E4;"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-2">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="{% static "home/css/assets/images/register-350x350.png" %}"></figure>
                </div>
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-10 mbr-section__right" style="float:right;">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">1.당신의 스타일 프로필을 작성해 주세요</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>작성하신 프로필을 통해 전담 스타일리스트를 배정합니다.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--boxy mbr-parallax-background" id="msg-box2" style="background-image: url({% static "home/css/assets/images/" %});">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #B8BBBA;"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-10 mbr-section__right">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">2.브리클로가 선별한 패키지를 받아보세요</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>한 패키지에는 스타일리스트가 <br>당신만을 위해 선별한 두 벌의 옷이 들어 있습니다. &nbsp;</p></div>
                    </div>
                </div>
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-2">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="{% static "home/css/assets/images/rent-350x350.png" %}"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--boxy mbr-parallax-background mbr-section--boxy" id="msg-box3" style="background-image: url({% static "home/css/assets/images/" %});">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: #505050;"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-2">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="{% static "home/css/assets/images/refund-350x350.png" %}"></figure>
                </div>
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-10 mbr-section__right" style="float:right;">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text">3.패키지를 바꾸고 싶을 때</h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>받아보신 패키지를 충분히 즐기신 후에, 다시 브리클로에게 보내주세요.<br>브리클로는 당신에게 새로운 패키지를 발송합니다.&nbsp;</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--boxy mbr-parallax-background" id="get_started" style="background-image: url({% static "home/css/assets/images/" %});">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: white;"></div>
    <div class="mbr-section__container mbr-section__container--isolated container">
        <div class="row">
            <div class="mbr-box mbr-box--fixed mbr-box--adapted">
                <div class="mbr-box__magnet mbr-class-mbr-box__magnet--center-left col-sm-8 mbr-section__right">
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-header mbr-header--auto-align mbr-header--wysiwyg">
                            <h3 class="mbr-header__text"><a href="{% url "home:start" %}">브리클로 시작하기</a></h3>
                        </div>
                    </div>
                    <div class="mbr-section__container mbr-section__container--middle">
                        <div class="mbr-article mbr-article--auto-align mbr-article--wysiwyg"><p>시작하기 시작하기</p></div>
                    </div>
                </div>
                <div class="mbr-box__magnet mbr-box__magnet--top-right mbr-section__left col-sm-2">
                    <figure class="mbr-figure mbr-figure--adapted mbr-figure--caption-inside-bottom mbr-figure--full-width"><img class="mbr-figure__img" src="{% static "home/css/assets/images/get_started.png" %}"></figure>
                </div>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="content">
    <div id="lista1" class="als-container">
        <span class="als-prev"><img src="{% static "home/images/thin_left_arrow_333.png" %}" alt="prev" title="previous" /></span>
        <div class="als-viewport">
            <ul class="als-wrapper">
                <li class="als-item"><img src="{% static "home/images/als-images/stylist1.jpg" %}"alt="stylist1" title="stylist1" /></li>
                <li class="als-item"><img src="{% static "home/images/als-images/stylist2.jpg" %}"alt="stylist2" title="stylist2" /></li>
                <li class="als-item"><img src="{% static "home/images/als-images/stylist3.jpg" %}"alt="stylist3" title="stylist3" /></li>
                <li class="als-item"><img src="{% static "home/images/als-images/stylist4.jpg" %}"alt="stylist4" title="stylist4" /></li>
            </ul>
        </div>
        <span class="als-next"><img src="{% static "home/images/thin_right_arrow_333.png" %}"alt="next" title="next" /></span>
        </div>
    </div>
</section>


<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts2-90" style="background-color: rgb(60, 60, 60);">
    <div class="mbr-section__container container">
        <div class="mbr-contacts mbr-contacts--wysiwyg row">
            <div class="col-sm-6">
                <div id="map_view" style="width:500px; height:300px;"></div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-5 col-sm-offset-1">
                        <p class="mbr-contacts__text"><strong>ADDRESS</strong><br>
                            1234 Street Name<br>
                            City, AA 99999<br><br>
                            <strong>CONTACTS</strong><br>
                            Email: support@mobirise.com<br>
                            Phone: +1 (0) 000 0000 001<br>
                            Fax: +1 (0) 000 0000 002</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mbr-contacts__text"><strong>LINKS</strong></p>
                        <ul class="mbr-contacts__list">
                            <li>
                                <a href="https://mobirise.com/bootstrap-template/" class="text-gray">Bootstrap one page template</a>
                                <a class="mbr-contacts__link text-gray" href="https://mobirise.com/bootstrap-template/"></a>
                            </li>
                            <li>
                                <a href="https://mobirise.com/bootstrap-template/" class="text-gray">Bootstrap basic template</a>
                                <a class="mbr-contacts__link text-gray" href="https://mobirise.com/bootstrap-template/"></a>
                            </li>
                            <li>
                                <a href="https://mobirise.com/bootstrap-template/" class="text-gray">Bootstrap gallery template</a>
                            </li>
                            <li>
                                <a href="https://mobirise.com/bootstrap-template/" class="text-gray">Bootstrap responsive template</a>
                            </li>
                            <li><br></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="mbr-section mbr-section--relative mbr-section--fixed-size" id="footer1-91" style="background-color: rgb(68, 68, 68);">
    <div class="mbr-section__container container">
        <div class="mbr-footer mbr-footer--wysiwyg row">
            <div class="col-sm-12">
                <p class="mbr-footer__copyright"></p>
                <p>
                    BRICLO <a href="#" class="text-gray">License</a>
                </p>
                <p></p>
            </div>
        </div>
    </div>
</footer>

<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{% static "home/css/assets/map/map.js" %}"></script>
{% if messages %}
<script type="text/javascript">
    alert("신청이 완료되었습니다. 감사합니다.");
</script>
{% endif %}

{% endblock content %}