{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<link href="{% static "home/css/start.css" %}" rel="stylesheet">

<div class="container" id="sign_up" style="margin-top:10%; margin-bottom:20%">
    <div class="row">
    <div class="col-sm-8 col-sm-offset-8">
        <p id="briclo" class="lead text-align-center" ><strong>BRICLO</strong></p>
        <form method="POST" action="">
        {% csrf_token %}
        <input type="checkbox" name="style1" id="style1" value="1"></input>
        <label for="style1"><div style="width: 100px;height: 100px; background: blue"></div></label>

        <input type="checkbox" name="style1" id="style2" value="2"></input>
        <label for="style2"><div style="width: 100px;height: 100px; background: blue"></div></label>

        <input type="checkbox" name="style1" id="style3" value="3"></input>
        <label for="style3"><div style="width: 100px;height: 100px; background: blue"></div></label>

        <input type="checkbox" name="style1" id="style4" value="4"></input>
        <label for="style4"><div style="width: 100px;height: 100px; background: blue"></div></label>

        <input type="checkbox" name="style1" id="style5" value="5"></input>
        <label for="style5"><div style="width: 100px;height: 100px; background: blue"></div></label>


























            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <label class="control-label" for="id_size_top">Size top</label>
                    <select class="form-control" id="id_size_top" name="size_top" required="required" title="">
                        <option value="S">S</option>
                        <option value="M" selected="selected">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_size_bottom">Size bottom</label>
                    <select class="form-control" id="id_size_bottom" name="size_bottom" required="required" title="">
                        <option value="S">S</option>
                        <option value="M" selected="selected">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_kakao">Kakao</label>
                    <input class="form-control" id="id_kakao" maxlength="100" name="kakao" placeholder="Kakao" required="required" title="" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_address">Address</label>
                    <textarea class="form-control" cols="40" id="id_address" name="address" placeholder="Address" required="required" rows="10" title=""></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-ok-sign"></span>  시작하기</button>
                </div>
            </div>
        </form>
    </div>
    </div>
</div>

{% endblock content %}