{% extends 'home/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}

<link href="{% static "home/css/start.css" %}" rel="stylesheet">
<link href="{% static "home/css/portfolio/css/3-col-portfolio.css" %}" rel="stylesheet">
<link href="{% static "home/css/portfolio/css/bootstrap.css" %}" rel="stylesheet">
<link href="{% static "home/css/portfolio/css/bootstrap.min.css" %}" rel="stylesheet">

<div style="margin-top:10%; margin-bottom:20%;">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="page1">
            <div class="formtitle" style="margin-bottom:30px">
                <h3><span style="">1 - 1<span> 마음에 드는 스타일을 모두 선택해주세요!</h3>
                <h3>1. SIMPLE</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_1" value="1"></input>
                    <label class="checkbox" for="style_1_1_1"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_2" value="2"></input>
                    <label class="checkbox" for="style_1_1_2"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_3" value="3"></input>
                    <label class="checkbox" for="style_1_1_3"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_4" value="4"></input>
                    <label class="checkbox" for="style_1_1_4"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_5" value="5"></input>
                    <label class="checkbox" for="style_1_1_5"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_1" id="style_1_1_6" value="6"></input>
                    <label class="checkbox" for="style_1_1_6"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>
            <br>

            <div class="formtitle" style="margin-bottom:30px">
                <h3><span style="">1 - 2<span> 마음에 드는 스타일을 모두 선택해주세요!</h3>
                <h3>2. Normal</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_1" value="1"></input>
                    <label class="checkbox" for="style_1_2_1"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_2" value="2"></input>
                    <label class="checkbox" for="style_1_2_2"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_3" value="3"></input>
                    <label class="checkbox" for="style_1_2_3"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_4" value="4"></input>
                    <label class="checkbox" for="style_1_2_4"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_5" value="5"></input>
                    <label class="checkbox" for="style_1_2_5"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_2" id="style_1_2_6" value="6"></input>
                    <label class="checkbox" for="style_1_2_6"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>

            <br>
            <div class="formtitle">
                <h3><span style="">1 - 3<span> 마음에 드는 스타일을 모두 선택해주세요!</h3>
                <h3>3. Unique</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_1" value="1"></input>
                    <label class="checkbox" for="style_1_3_1"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_2" value="2"></input>
                    <label class="checkbox" for="style_1_3_2"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_3" value="3"></input>
                    <label class="checkbox" for="style_1_3_3"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_4" value="4"></input>
                    <label class="checkbox" for="style_1_3_4"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_5" value="5"></input>
                    <label class="checkbox" for="style_1_3_5"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_1_3" id="style_1_3_6" value="6"></input>
                    <label class="checkbox" for="style_1_3_6"><img src="{% static "home/images/rent-350x350.png" %}"></label>
                </div>
            </div>

            <div class="row">
                <button type=button class="btn_default btn" id="button_next_1">다음 페이지로 넘어가기
                </button>
            </div>
        </div>

        <div class="page2">
            <div class="formtitle">
                <h3><span style="">2<span>평상시 어떤 코디를 선호하시나요?</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_2" id="sytle_2_1" value="simple"></input>
                    <label class="checkbox" for="style_2_1"><img src="{% static "home/images/rent-350x350.png" %}"></label>  
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_2" id="style_2_2" value="fancy"></input>
                    <label class="checkbox" for="style_2_2"><img src="{% static "home/images/rent-350x350.png" %}"></label> 
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">3<span>브리클로 패키지를 어떤 상황에서 주로 입으시나요?</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_3" value="school">학교갈 때</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_3" value="event">특별한 행사</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_3" value="meeting">소개팅 / 미팅 / 각종 팅</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_3" value="girlfriend">여자친구 만날 때</input>
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">4.<span>슬림한 옷을 좋아하시나요?</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="radio" name="style_4" id="style_4_1" value="yes">
                    <label class="radiobox" for="style_4_1"><img src="{% static "home/images/rent-350x350.png" %}"></label> 
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="radio" name="style_4" id="style_4_2" value="no">
                    <label class="radiobox" for="style_4_2"><img src="{% static "home/images/rent-350x350.png" %}"></label> 
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">5<span>이 아이템은 싫어요.(상의)</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="graphic">그래픽디자인 티</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="patternshrits">패턴셔츠</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="cardigan">가디건</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="checkshirts">체크셔츠</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="sleeveless">민소매</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="shortT">반팔티</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="longT">긴팔티</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="shortshirts">반팔셔츠</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="longshirts">긴팔셔츠</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="Turtleneck">폴라티</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_5" value="overfit">오버핏</input>
                </div>
            </div>
            
            <div class="formtitle">
                <h3><span style="">6<span>이 아이템은 싫어요.(하의)</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="shorts">반바지</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="trousers">긴바지</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="skinny">스키니</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="bootscut">부츠컷</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="straight">일자컷</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_6" value="threequarter">칠부팬츠</input>
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">7<span>이런 색의 옷이 좋아요</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="black">검정</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="white">하양</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="grey">회색</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="yellow">노랑</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="orange">주황</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="red">빨강</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="blue">파랑</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="green">초록</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="purple">보라</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="pink">분홍</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="brown">갈색</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_7" value="none">없음</input>
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">8<span>이런 색의 옷이 싫어요</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="black">검정</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="white">하양</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="grey">회색</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="yellow">노랑</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="orange">주황</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="red">빨강</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="blue">파랑</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="green">초록</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="purple">보라</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="pink">분홍</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="brown">갈색</input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_8" value="none">없음</input>
                </div>
            </div>          

            <div class="formtitle">
                <h3><span style="">9<span>어느 정도의 색감을 선호하시네요</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_9" value="pastel">
                        <img src="{% static "home/images/rent-350x350.png" %}">
                        <p>파스텔톤</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_9" value="original">
                        <img src="{% static "home/images/rent-350x350.png" %}">
                        <p>원색</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_9" value="mono">
                        <img src="{% static "home/images/rent-350x350.png" %}">
                        <p>모노톤</p>
                    </input>
                </div>
            </div>

            <div class="formtitle">
                <h3><span style="">10<span>이런 무늬는 싫어요</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="flower">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>플라워</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="paisley">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>페이즐리</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="check">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>체크</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="dot">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>도트</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="stripe">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>스트라이프</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="animal">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>애니멀</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="geometrical">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>기하학</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="camouflage">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>카모플라쥬</p>
                        </div>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_10" value="none">
                        <div class="checkleft">
                            <img src="{% static "home/images/rent-350x350.png" %}">
                        </div>
                        <div class="checkright">
                            <p>없음</p>
                        </div>
                    </input>
                </div>
            </div>

            <div class="row">
                <button type=button class="btn_default btn" id="button_next_2">다음 페이지로 넘어가기
                </button>
            </div>
        </div>

        <div class="page3">
            <div class="formtitle">
                <h3><span style="">11<span>옷고를 때 신경쓰시는 부위가 있으신가요?</h3>
            </div>
            <div class="row">
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="smallstature">
                            <p>작은키</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="greatstature">
                            <p>큰키</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="wideshoulder">
                            <p>넓은 어깨</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="narrowshoulder">
                            <p>좁은 어깨</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="thickforearm">
                            <p>굵은 팔뚝</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="bigchest">
                            <p>큰 가슴</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="smallchest">
                            <p>작은 가슴</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="waist">
                            <p>허리</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="thinthigh">
                            <p>얇은 허벅지</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="thickthigh">
                            <p>굵은 허벅지</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="bighips">
                            <p>큰 엉덩이</p>
                    </input>
                </div>
                <div class="col-md-3 portfolio-item">
                    <input type="checkbox" name="style_11" value="smallhips">
                            <p>작은 엉덩이</p>
                    </input>
                </div>
            </div>


            <div class="col-sm-4 col-sm-offset-4">
                <div class="form-group">
                    <label class="control-label" for="height">키를 입력해주세요</label>
                    <input class="form-control" id="height" maxlength="10" name="height" placeholder="170cm" required="required" title="" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="weight">몸무게를 입력해주세요</label>
                    <input class="form-control" id="weight" maxlength="10" name="weight" placeholder="70kg" required="required" title="" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_size_top">주로 입으시는 옷의 사이즈를 선택해주세요(상의)</label>
                    <select class="form-control" id="id_size_top" name="size_top" required="required" title="">
                        <option value="S">S</option>
                        <option value="M" selected="selected">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_size_bottom">주로 입으시는 옷의 사이즈를 선택해주세요(하의)</label>
                    <select class="form-control" id="id_size_bottom" name="size_bottom" required="required" title="">
                        <option value="S">S</option>
                        <option value="M" selected="selected">M</option>
                        <option value="L">L</option>
                        <option value="XL">XL</option>
                        <option value="XXL">XXL</option>
                        <option value="XXXL">XXXL</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="curriculum">본인의 학과를 입력해주세요</label>
                    <input class="form-control" id="curriculum" maxlength="20" name="curriculum" placeholder="경영학과" required="required" title="" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_kakao">카카오톡 아이디를 입력해주세요 (전담 스타일리스트가 연락을 드립니다)</label>
                    <input class="form-control" id="id_kakao" maxlength="100" name="kakao" placeholder="Kakao" required="required" title="" type="text">
                </div>
                <div class="form-group">
                    <label class="control-label" for="id_address">배송할 주소를 입력해주세요</label>
                    <textarea class="form-control" cols="40" id="id_address" name="address" placeholder="서울시 관악구" required="required" rows="10" title=""></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">
                    <span class="glyphicon glyphicon-ok-sign"></span>  시작하기</button>
                </div>
            </div>
        </div>
    </form>
</div>



{% endblock content %}