@media (min-width: 768px){
	.col-sm-offset-8 {
	    margin-left:0;
	}
}
@media (min-width: 768px){
	.col-sm-8 {
	    width: 100%;
	}
}
#briclo {
	text-align:center;
	font-size:30px;
}
.row1 {
	margin-bottom:40px;
	height:300px;
}
.checkbox {
	border:black 1px solid;
	height:300px;
	width:23%;
	margin-left:1%;
	margin-right:1%;
	float:left;
	border-radius:5px;
}
.checkbox label {
	margin:5px 5px 5px 5px !important;
}
.checkbox img {
	height:90%;
	width:100%;
}
