@media (min-width: 768px){
	.col-sm-offset-8 {
	    margin-left:0;
	}
}
@media (min-width: 768px){
	.col-sm-8 {
	    width: 100%;
	}
}
.checkbox_toggle {
	opacity:0.5 !important;
	border:blue 5px solid !important;
}
@media (min-width: 992px) {
	.formtitle {
		padding-left:13%;
	}
	.page1 .row {
		padding-left:13% !important;
	}
	.page2 .row {
		padding-left:10% !important;
	}
}
.page1 {
	display:block;
}
/*.page2 {
	display:none;
}
.page3 {
	display:none;
}*/
.page1 .checkbox {
	border:1px black solid;
	border-radius:5px;
	margin:5px;
}
.page1 .checkbox img {
	height:100%;
	width:100%;
}
.row .portfolio-item input {
	display:block;
}
.page2 .checkbox {
	height:50px;
	width:100px;
	margin:10px;
}
.page2 .checkbox img {
	height:100%;
	width:100%;
}