@font-face {
	font-family:'SeoulNamsanL';
	src: url(../fonts/SeoulNamsanL.ttf) format('truetype');
}
@media (min-width: 768px){
	.col-sm-offset-8 {
	    margin-left:0;
	}
}
@media (min-width: 768px){
	.col-sm-8 {
	    width: 100%;
	}
}
@media (min-width: 992px) {
	.formtitle {
		padding-left:13%;
	}
	.page1 .row {
		padding-left:13% !important;
	}
	.page2 .row {
		padding-left:10% !important;
	}
	.page3 .row {
		padding-left:10% !important;
	}
}
h3 {
	font-family:'SeoulNamsanL';
	text-decoration:underline;
	color:#519AD6 !important;
}
.h31 {
	color:black !important;
	text-decoration:none !important;
}
.page1 {
	display:block;
}
.page2 {
	display:none;
}
.page3 {
	display:none;
}
.radiobox img {
	width:100%;
	height:100%;
}
label:hover {
	opacity:0.5 !important;
}
input:checked + label {
	opacity:0.5 !important;
	border:blue 5px solid !important;
}
.page1 .checkbox {
	border:1px black solid;
	border-radius:5px;
	margin:5px;
}
.checkbox img {
	height:100%;
	width:100%;
}
.portfolio-item input {
	display:block;
}
.page2 .checkbox {
	height:50px;
	width:100px;
	margin:10px;
}
.page3 .checkbox {
	height:50px;
	width:100px;
	margin:10px;
}