{% extends 'home/main.html' %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block style %}
<link href="{% static 'signup.css' %}" rel="stylesheet">
<style>
.mola {
    margin-top:100px;
}
.briclo {
    margin-bottom:30px;
}
.briclo p{
    margin-left:30%;
    font-size : 180%;
}
.col_left {
    margin-left:30%;
    float:left;
}
.col_right {
    float:left;
    margin-left:4%;
}
.scrollbox {
    word-break:break-all;
    overflow-y:scroll;
    overflow-x:hidden;
    height:300px;
    width:400px;
    border:0px solid black;
    border-radius:5px;
    background-color:rgb(200,200,200);
}
.col_left .checkbox:last-child{
    display:none;
}
</style>

{% endblock %}


{% block content %}

<div class="mola">
    <div class="col-sm-4 col-sm-offset-4 briclo">
        <p class="lead text-align-center"><strong>회원가입</strong></p>
    </div>
    <div class="col-sm-4 col-sm-offset-4 col_left">
        <form method="post" action="">{% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% bootstrap_icon "ok-sign" %} 회원가입 </button>
        {% endbuttons %}
    </div>
    <!--<div class="col-sm-4 col-sm-offset-4 col_right">
        <div class="scrollbox">
            이용약관은 의류 파손 배상에 대한 내용입니다.<br>
            이용약관 문의는 아래의 방법으로 해주세요 ~ !<br>
            1. 카카오톡아이디 : Skywrace <br>
            2. 페이스북 페이지 메세지 : Briclo
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label for="agree">
                <input class="" id="agree" name="is_agree" type="checkbox"> 약관동의</label>
            </div>
        </div>
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% bootstrap_icon "ok-sign" %} 회원가입 </button>
        {% endbuttons %}
        </form>
    </div>-->
</div>


{% endblock %}