@font-face{font-family:'NanumBarunpenB'; src:url('NanumBarunpenB.ttf')}
 
.caption {font-family:NanumBarunpenB;}

h3 {
	color:black !important;
}
#menu-74.mbr-navbar--stuck .mbr-navbar__section {
  background: #f6f6f6 !important;
}


/*로고, 로고옆글씨 클때*/
.mbr-navbar__brand-link:after,
.mbr-navbar__brand-img {
    height: 40px;
    margin-left: 8px;
}

/* 로고옆 글씨 작을때 */
.mbr-navbar--short .mbr-navbar__brand-link:after,
.mbr-navbar--short .mbr-navbar__brand-img {
    height: 30px;
    margin-left:3px;
}

.mbr-buttons__btn,
.mbr-buttons__link,
.mbr-buttons__btn:hover,
.mbr-buttons__link:hover {
    text-decoration: none;
    color:black;
}
#whatis {
	position:relative !important;
	top:-8rem !important;
}
#blank {
	height:80px;
	background-color:white;
}
#slider2-78 {
    padding-bottom: 50px;
    padding-top: 15px;
}
.ttitle {
    text-align:center;
}

@media (min-width: 992px)
.getstart_col {
    float: left;
    width: 33% !important;
}

@media (min-width: 768px)
.getstart_col {
    float: left;
    width: 80%;
}